/* CONDITIONS GENERALES */

body {
    margin: 0;
    width: 100%;
    /* masque la barre défilement horizontale */
    overflow-x: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Canvas */
#universe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    /* Il passe derrière tout le reste */
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 0;
}


/* HEADER */

header {
    border-radius: 20px;
    width: 90%;
    margin: 3em auto 1em;
    border: 1px solid rgba(100, 150, 255, 0.3);
    box-shadow: 0 0 20px rgba(100, 150, 255, 0.3),
        0 0 40px rgba(100, 150, 255, 0.1);
    animation: float 6s ease-in-out infinite;
}

/* Animation flottante */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}


ul {
    display: flex;
    justify-content: space-around;
    align-items: self-end;
    padding: 0 0.5em;
}

li {
    width: 100%;
    text-align: center;

}

/* MAIN */


main {
    position: relative;
    /* reste dans sa position fixe sur la page */
    top: 0;
    /* pas de déplacement */
    height: 30em;
    /* hauteur fixe (ou ce que tu veux) */
    overflow-y: auto;
    /* le contenu scroll à l’intérieur */
    margin: 2em 0;
    padding: 0 1.5em;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 0.5em;
    color: rgba(100, 150, 255, 0.3);
    border-top: 1px solid rgba(100, 150, 255, 0.3);
}